<div *ngIf="action === 'add'">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="ProductForm">
      <h6 class="card-subtitle mr-3 mb-3">Product Information.</h6>
      <div class="form-row">
        <!-- <div class="col-md-6 mb-3"></div> -->
        <div class="col-md-12 mb-3">
          <div *ngIf="url != ''">
            <img class="imagepreview" [src]="url" alt="Image Source" />
          </div>
          <div *ngIf="url === ''">
            <img
              class="imagepreview"
              src="https://www.tibs.org.tw/images/default.jpg"
              alt="Default Source"
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="name">Name</label>
          <input
            [class.is-invalid]="
              (ProductForm.get('name').touched || submitted) &&
              ProductForm.get('name').errors?.required
            "
            type="text"
            class="form-control text"
            id="name"
            name="name"
            formControlName="name"
          />
          <span
            *ngIf="
              (ProductForm.get('name').touched || submitted) &&
              ProductForm.get('name').errors?.required
            "
            id="makeErr"
            class="error"
            >Please Enter Name</span
          >
        </div>
        <div class="col-md-3 mb-3">
          <label for="quantity">Quantity</label>
          <input
            [class.is-invalid]="
              (ProductForm.get('quantity').touched || submitted) &&
              ProductForm.get('quantity').errors?.required
            "
            type="text"
            class="form-control"
            id="quantity"
            formControlName="quantity"
          />
          <span
            *ngIf="
              (ProductForm.get('quantity').touched || submitted) &&
              ProductForm.get('quantity').errors?.required
            "
            id="makeErr"
            class="error"
            >Please Enter Quantity</span
          >
        </div>

        <div class="col-md-3 mb-3">
          <label for="saleprice">Image</label> <br />
          <label class="btn btn-primary">
            Upload
            <input type="file" (change)="handleUpload($event)" hidden />
          </label>
        </div>

        <!-- (change)="handleUpload($event)" -->
      </div>

      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="description">Product Description</label>
          <textarea
            [class.is-invalid]="
              (ProductForm.get('description').touched || submitted) &&
              ProductForm.get('description').errors?.required
            "
            type="text"
            class="form-control"
            id="description"
            formControlName="description"
            rows="3"
          >
          </textarea>

          <span
            *ngIf="
              (ProductForm.get('description').touched || submitted) &&
              ProductForm.get('description').errors?.required
            "
            id="makeErr"
            class="error"
            >Please Enter Description</span
          >
        </div>
      </div>

      <hr />
      <h6 class="card-subtitle mr-3 mb-3">Pricing Information.</h6>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="price">Price</label>
          <input
            type="text"
            class="form-control"
            id="price"
            formControlName="price"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label for="saleprice">Sale Price</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text" id="basic-addon1">
                <div class="form-check form-check-inline">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="sale"
                    formControlName="sale"
                    (change)="checkValue($event)"
                  />
                  <label class="form-check-label" for="sale">Sale</label>
                </div>
              </div>
            </div>
            <!-- <div style="color: red; padding-top: 0.2rem" *ngIf="enable">
              Required
            </div> -->
            <input
              *ngIf="enable"
              type="text"
              class="form-control"
              formControlName="saleprice"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
      </div>
      <hr />
      <h6 class="card-subtitle mr-3 mb-3">Shipping Information.</h6>
      <div formGroupName="shipping_details">
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="weight"> Weight</label>
            <input
              type="text"
              class="form-control"
              id="weight"
              formControlName="weight"
            />
          </div>
          <div class="col-md-3 mb-3">
            <label for="depth"> Depth</label>
            <input
              type="text"
              class="form-control"
              id="depth"
              formControlName="depth"
            />
          </div>
          <div class="col-md-3 mb-3">
            <label for="width"> Width</label>
            <input
              type="text"
              class="form-control"
              id="width"
              formControlName="width"
            />
          </div>
          <div class="col-md-3 mb-3">
            <label for="height"> Height</label>
            <input
              type="text"
              class="form-control"
              id="height"
              formControlName="height"
            />
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-primary"
      [disabled]="!ProductForm.valid"
      (click)="createPrd()"
    >
      Add Product
    </button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">
      {{ closeBtnName }}
    </button>
  </div>
</div>

<div *ngIf="action === 'update'">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="ProductForm">
      <h6 class="card-subtitle mr-3 mb-3">Product Information.</h6>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="productId">ID</label>
          <input
            type="text"
            class="form-control text"
            id="productId"
            name="productId"
            formControlName="productId"
          />
        </div>
        <div class="col-md-6 mb-3">
          <div *ngIf="url != ''">
            <img class="imagepreview" [src]="url" alt="Image Source" />
          </div>
          <div *ngIf="url === ''">
            <img
              class="imagepreview"
              src="https://www.tibs.org.tw/images/default.jpg"
              alt="Default Source"
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="name">Name</label>
          <input
            [class.is-invalid]="
              (ProductForm.get('name').touched || submitted) &&
              ProductForm.get('name').errors?.required
            "
            type="text"
            class="form-control text"
            id="name"
            name="name"
            formControlName="name"
          />
          <span
            *ngIf="
              (ProductForm.get('name').touched || submitted) &&
              ProductForm.get('name').errors?.required
            "
            id="makeErr"
            class="error"
            >Please Enter Name</span
          >
        </div>
        <div class="col-md-3 mb-3">
          <label for="quantity">Quantity</label>
          <input
            [class.is-invalid]="
              (ProductForm.get('quantity').touched || submitted) &&
              ProductForm.get('quantity').errors?.required
            "
            type="text"
            class="form-control"
            id="quantity"
            formControlName="quantity"
          />
          <span
            *ngIf="
              (ProductForm.get('quantity').touched || submitted) &&
              ProductForm.get('quantity').errors?.required
            "
            id="makeErr"
            class="error"
            >Please Enter Quantity</span
          >
        </div>

        <div class="col-md-3 mb-3">
          <label for="saleprice">Image</label> <br />
          <label class="btn btn-primary">
            Upload
            <input type="file" (change)="handleUpload($event)" hidden />
          </label>
        </div>

        <!-- (change)="handleUpload($event)" -->
      </div>

      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="description">Product Description</label>
          <textarea
            [class.is-invalid]="
              (ProductForm.get('description').touched || submitted) &&
              ProductForm.get('description').errors?.required
            "
            type="text"
            class="form-control"
            id="description"
            formControlName="description"
            rows="3"
          >
          </textarea>

          <span
            *ngIf="
              (ProductForm.get('description').touched || submitted) &&
              ProductForm.get('description').errors?.required
            "
            id="makeErr"
            class="error"
            >Please Enter Description</span
          >
        </div>
      </div>

      <hr />
      <h6 class="card-subtitle mr-3 mb-3">Pricing Information.</h6>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="price">Price</label>
          <input
            type="text"
            class="form-control"
            id="price"
            formControlName="price"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label for="saleprice">Sale Price</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text" id="basic-addon1">
                <div class="form-check form-check-inline">
                  <input
                    (change)="checkValue($event)"
                    type="checkbox"
                    class="form-check-input"
                    id="sale"
                    formControlName="sale"
                  />
                  <label class="form-check-label" for="sale">Sale</label>
                </div>
              </div>
            </div>
            <input
              *ngIf="enable"
              type="text"
              class="form-control"
              formControlName="sale_price"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
      </div>
      <hr />
      <h6 class="card-subtitle mr-3 mb-3">Shipping Information.</h6>
      <div formGroupName="shipping_details">
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="weight"> Weight</label>
            <input
              type="text"
              class="form-control"
              id="weight"
              formControlName="weight"
            />
          </div>
          <div class="col-md-3 mb-3">
            <label for="depth"> Depth</label>
            <input
              type="text"
              class="form-control"
              id="depth"
              formControlName="depth"
            />
          </div>
          <div class="col-md-3 mb-3">
            <label for="width"> Width</label>
            <input
              type="text"
              class="form-control"
              id="width"
              formControlName="width"
            />
          </div>
          <div class="col-md-3 mb-3">
            <label for="height"> Height</label>
            <input
              type="text"
              class="form-control"
              id="height"
              formControlName="height"
            />
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-primary"
      [disabled]="!ProductForm.valid"
      (click)="updatePrd()"
    >
      Update Product
    </button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">
      {{ closeBtnName }}
    </button>
  </div>
</div>
