<!-- <app-admin-navbar></app-admin-navbar>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar">
      <app-admin-side></app-admin-side>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
      <router-outlet></router-outlet>
    </main>
  </div>
</div> -->

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0"></nav>
<app-admin-navbar></app-admin-navbar>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
      <app-admin-side></app-admin-side>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
