<nav
  class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark flex-md-nowrap"
>
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <div class="my-2 my-lg-0 pr-4"></div>
    <a data-toggle="tooltip" data-placement="left" title="View Profile">
      <ion-icon name="person-circle" (click)="openProfileModal()"></ion-icon
    ></a>
    <a data-toggle="tooltip" data-placement="left" title="View Settings"
      ><ion-icon name="settings" (click)="openSettingModal()"></ion-icon
    ></a>
    <a data-toggle="tooltip" data-placement="left" title="Logout"
      ><ion-icon name="log-out" (click)="logout()"></ion-icon
    ></a>
  </div>
</nav>
